<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rated</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body style="font-family:Roboto">
  {{>menu}}

  <div class="site-wrap">
    <div id="headerBar">
      <h1 id="header">Search</h1> 
    </div>
    <h3>Showing results for: {{query}}</h3>
    {{#each results}}
    <a href="/rate/{{_id}}">
      <div class="panel panel-default">
        <div class="panel-body">
          <table>
            <tr>
              <td><img class="thumbnail" src="http://api.page2images.com/directlink?p2i_url={{projectURL}}&p2i_key=f65e33ca12284154&p2i_device=2" style="margin-right: 10px"/></td>
              <td colspan="2">
                <h4>{{title}}</h4>
                By: {{author}}
              </td>
            </tr>
            <tr>
              <td colspan="3">{{description}}</td>
            </tr>
          </table>
        </div>
      </div>
    </a>
    {{else}}
    <div class="row" style="margin-bottom: 5px">
      Unfortunately, your search returned no results. Please try a different search.
    </div>
    <form id="searchform" role="form" method="get" action="/search">
      <div class="input-group">
        <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
        <span class="input-group-btn">
          <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
        </span>
      </div><!-- /input-group -->
    </form>
    {{/each}}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>


</body>
</html>