<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rated</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body style="font-family:Roboto">
  <nav class="nav navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- start of list -->
        <ul class="navigation">
          <li class="nav-item">
            <!--search button -->
            <div class="col-lg-10 sizingsearchbar">
              <form id="searchform" role="form" method="get" action="/search">
                <div class="input-group">
                  <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
                  <span class="input-group-btn">
                    <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          </li>
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="#">Categories</a></li>
          <li class="nav-item"><a href="#">Profile</a></li>
          <li class="nav-item"><a href="/settings">Settings</a></li>
          <li class="nav-item"><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
  

  <div class="site-wrap">
    <h1 id="header">Search</h1> 
    <h2>Showing results for: {{query}}</h2>
    <div class="row">
      {{#each results}}
      <a href={{link}}>
        <div class="panel panel-default">
          <div class="panel-body">
            <table>
              <tr>
                <td><img class="thumbnail" src={{imageURL}} style="margin-right: 10px"/></td>
                <td colspan="2">
                  <h4>{{title}}</h4>
                  {{description}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>


</body>
</html>